/* Container with background image */
.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url("https://img.freepik.com/premium-photo/various-spices-herbs-wooden-spoons_35641-2807.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-box.MuiPaper-root {
  width: 100%;
  max-width: 320px;
  padding: 24px;
  border-radius: 24px;
  background-color: #dae0f2;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.login-title.MuiTypography-root {
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 16px;
}


.login-alert.MuiAlert-root {
  margin-bottom: 16px;
  font-size: 0.9rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}


.login-input.MuiTextField-root {
  margin-bottom: 16px;
}

.login-button.MuiButton-root {
  margin-top: 16px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  text-transform: none;
  transition: background 0.3s ease;
}

.login-button.MuiButton-root:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
}


.login-footer.MuiTypography-root {
  margin-top: 24px;
  text-align: center;
  font-size: 0.9rem;
}

.signup-button.MuiButton-root {
  text-transform: none;
  padding: 0;
  min-width: auto;
  font-weight: 500;
  color: #1976d2;
}
